.env
.env.*
node_modules
**/node_modules
backend/dist
frontend/dist
frontend/build
.git
.gitignore
.DS_Store
Thumbs.db
.idea
.vscode
*.log
logs
.cache
**/.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile*
.dockerignore


